http:
  routers:
    universalis-http:
      service: universalis_weighted
      entrypoints: [http]
      middlewares: [https-redirect]
      rule: Host(`universalis.app`) || Host(`staging.universalis.app`)
    universalis-https:
      service: universalis_weighted
      entrypoints: [https]
      middlewares:
        [
          rate-limit,
          max-inflightreq,
          global-max-inflightreq,
          compress-response,
          buffer-response,
        ]
      tls: {}
      rule: Host(`universalis.app`) || Host(`staging.universalis.app`)
    universalis-stats-https:
      service: universalis@docker
      entrypoints: [https]
      middlewares: [api-cache]
      tls: {}
      rule: (Host(`universalis.app`) || Host(`staging.universalis.app`)) && PathPrefix(`/api/{path:(v2/)?(extra|tax-rates)}`)
    universalis-gamedata-https:
      service: universalis@docker
      entrypoints: [https]
      middlewares: [api-cache]
      tls: {}
      rule: (Host(`universalis.app`) || Host(`staging.universalis.app`)) && PathPrefix(`/api/v3/game`)
    universalis-misc-https:
      service: universalis@docker
      entrypoints: [https]
      middlewares: [api-cache]
      tls: {}
      rule: (Host(`universalis.app`) || Host(`staging.universalis.app`)) && PathPrefix(`/api/v3/misc`)
    universalis-marketable-https:
      service: universalis@docker
      entrypoints: [https]
      middlewares: [api-cache]
      tls: {}
      rule: (Host(`universalis.app`) || Host(`staging.universalis.app`)) && Path(`/api/{path:(v2/)?marketable}`)
  services:
    universalis_weighted:
      weighted:
        services:
          - name: universalis@docker
            weight: 95
          - name: universalis_canary@docker
            weight: 5
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    api-cache:
      plugin:
        cache:
          path: /tmp
    max-inflightreq:
      inFlightReq:
        # Note that this (and all other limits) are per-Traefik instance, and are not synchronized
        amount: 8
        sourceCriterion:
          requestHeaderName: CF-Connecting-IP
    global-max-inflightreq:
      inFlightReq:
        amount: 8000
    rate-limit:
      rateLimit:
        average: 25
        burst: 50
        sourceCriterion:
          requestHeaderName: CF-Connecting-IP
    compress-response:
      compress: {}
    buffer-response:
      buffering:
        memResponseBodyBytes: 200000
serversTransport:
  forwardingTimeouts:
    dialTimeout: 10s
    responseHeaderTimeout: 5s
    idleConnTimeout: 30s
tls:
  certificates:
    - certFile: /run/secrets/universalis_cf_cert
      keyFile: /run/secrets/universalis_cf_key
